@{
    ViewData["Title"] = "Список футболистов";
}

<h1>@ViewData["Title"]</h1>

<table  class="table table-bordered" id="footballersTable">
   
    
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/tableCreation.js"></script>

